# Set Up

### Import necessary packages

In [1]:
import pandas as pd
from datetime import datetime, timedelta

### Import data

In [4]:
relative_path = "Data/monthly_retail_trade_report_1992to05.2023.xlsx"

# Subset rows only to get not adjusted sales values
start_row = 4
end_row = 70

# Subset columns to get business type and sales per month
columns_range = "B:N"

# Loop through every sheet
current_year = 2022
end_year = 1991  # Stop at 1991 since you mentioned until 1992

# Loop through the years in reverse order
for year in range(current_year, end_year, -1):
    sheet_name = str(year)
    df_name = "df_" + str(year)
    
    # Read the Excel sheet for the current year
    df = pd.read_excel(relative_path, sheet_name=sheet_name, header=None,
                       skiprows=start_row, nrows=end_row - start_row + 1,
                       usecols=columns_range)
    
    # Assign the DataFrame to a variable with dynamic name
    globals()[df_name] = df

# Data Cleaning

### Change Column Names

In [7]:
# Modify the first column

dataframes = [globals()[f"df_{year}"] for year in range(2022, 1991, -1)]

new_column_name = "Kind of Business"

for df in dataframes:
    df.rename(columns={df.columns[0]: new_column_name}, inplace=True)

# Example of accessing one of the modified dataframes
print(df_2022.head())

                                    Kind of Business          2          3  \
0                                                NaN  Jan. 2022  Feb. 2022
1                                       NOT ADJUSTED        NaN        NaN
2              Retail and food services sales, total     583761     577319
3  Retail sales and food services excl motor vehi...     469700     459828
4  Retail sales and food services excl gasoline s...     536142     529214

           4          5         6          7          8          9         10  \
0  Mar. 2022  Apr. 2022  May 2022  Jun. 2022  Jul. 2022  Aug. 2022  Sep. 2022
1        NaN        NaN       NaN        NaN        NaN        NaN        NaN
2     679465     679473    702760     693577     685483     698833     660765
3     539027     542012    570623     561127     557906     562924     535423
4     616940     616286    631649     620064     613183     632519     600510

          11         12         13
0  Oct. 2022  Nov. 2022  Dec. 2022
1        NaN        NaN        NaN
2     683198     684790     741521
3     556461     567249     618540
4     620095     627076     688622

In [ ]:
def first_days_of_months(year):
    first_days = []
    for month in range(1, 13):
        first_day = datetime(year, month, 1)
        first_days.append(first_day)
    return first_days

year = 2022

column_mapping = {i: date.strftime("%Y-%m-%d") for i, date in enumerate(first_days_of_months(year), start=2)}

df_2022.rename(columns=column_mapping, inplace=True)

print(df_2022.head())

In [8]:
def first_days_of_months(year):
    first_days = []
    for month in range(1, 13):
        first_day = datetime(year, month, 1)
        first_days.append(first_day)
    return first_days

dataframes = [globals()[f"df_{year}"] for year in range(2022, 1991, -1)]

for year, df in zip(range(2022, 1991, -1), dataframes):
    column_mapping = {i: date.strftime("%Y-%m-%d") for i, date in enumerate(first_days_of_months(year), start=2)}
    df.rename(columns=column_mapping, inplace=True)

# Example of accessing one of the modified dataframes
print(df_2022.head())

                                    Kind of Business 2022-01-01 2022-02-01  \
0                                                NaN  Jan. 2022  Feb. 2022
1                                       NOT ADJUSTED        NaN        NaN
2              Retail and food services sales, total     583761     577319
3  Retail sales and food services excl motor vehi...     469700     459828
4  Retail sales and food services excl gasoline s...     536142     529214

  2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01  \
0  Mar. 2022  Apr. 2022   May 2022  Jun. 2022  Jul. 2022  Aug. 2022
1        NaN        NaN        NaN        NaN        NaN        NaN
2     679465     679473     702760     693577     685483     698833
3     539027     542012     570623     561127     557906     562924
4     616940     616286     631649     620064     613183     632519

  2022-09-01 2022-10-01 2022-11-01 2022-12-01
0  Sep. 2022  Oct. 2022  Nov. 2022  Dec. 2022
1        NaN        NaN        NaN        NaN
2     660765     683198     684790     741521
3     535423     556461     567249     618540
4     600510     620095     627076     688622

### Drop first two rows

In [9]:
dataframes = [globals()[f"df_{year}"] for year in range(2022, 1991, -1)]

for df in dataframes:
    df.drop([0, 1], inplace=True)

# Example of accessing one of the modified dataframes
print(df_2022.head())

                                    Kind of Business 2022-01-01 2022-02-01  \
2              Retail and food services sales, total     583761     577319
3  Retail sales and food services excl motor vehi...     469700     459828
4  Retail sales and food services excl gasoline s...     536142     529214
5  Retail sales and food services excl motor vehi...     422081     411723
6                                Retail sales, total     516923     507901

  2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01  \
2     679465     679473     702760     693577     685483     698833
3     539027     542012     570623     561127     557906     562924
4     616940     616286     631649     620064     613183     632519
5     476502     478825     499512     487614     485606     496610
6     598541     596690     616626     609743     599929     613508

  2022-09-01 2022-10-01 2022-11-01 2022-12-01
2     660765     683198     684790     741521
3     535423     556461     567249     618540
4     600510     620095     627076     688622
5     475168     493358     509535     565641
6     577966     597170     605205     654825

### Combine all years in one DataFrame

In [10]:
# Create an empty list to store the melted dataframes
all_melted_dataframes = []

dataframes = [globals()[f"df_{year}"] for year in range(2022, 1991, -1)]

for year, df in zip(range(2022, 1991, -1), dataframes):
    df_melted = pd.melt(df, id_vars="Kind of Business", var_name="Date", value_name="Sales")
    
    # Append the melted dataframe to the list
    all_melted_dataframes.append(df_melted)

# Concatenate all the melted dataframes into one big dataframe
big_dataframe = pd.concat(all_melted_dataframes, ignore_index=True)

# Print a portion of the big dataframe
print(big_dataframe.head())

                                    Kind of Business        Date   Sales
0              Retail and food services sales, total  2022-01-01  583761
1  Retail sales and food services excl motor vehi...  2022-01-01  469700
2  Retail sales and food services excl gasoline s...  2022-01-01  536142
3  Retail sales and food services excl motor vehi...  2022-01-01  422081
4                                Retail sales, total  2022-01-01  516923

### Remove NaN

In [11]:
big_dataframe.dropna(subset=['Sales'], inplace=True)

# Export Clean Data

In [12]:
big_dataframe.to_csv('Data/clean_us_monthly_retail_sales_1992_to_2022.csv', index=False)